*{
    margin: 0;
    padding: 0;
}
.cavs{
    z-index:1;
    position: fixed;
    width:95%;
    margin-left: 20px;
    margin-right: 20px;
}

html,body{
    width: 100%;
    height: 100%;
    background: url("../images/bg1.jpg") no-repeat;
    background-size: 100% 100%;

}



.loginmain{
    background: rgba(0, 0, 0, 0.5);
    width: 540px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 100px 40px 40px 40px;
    box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
    z-index: 99999;
}
.login-title{
    color: #D3D7F7;
    height: 60px;
    font-size:20px;
    text-align: center;
    margin-top: -20px;
}
.login-con{
    height: 208px;
    position: absolute;
    left: 0;
    width: 80%;
    margin:0 10%;
}
.login-user{
    position: relative;
}
.icon{
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 8px;
    opacity: 1;
}
.login-con input{
    width: calc(100% - 130px);
    margin-top: -2px;
    background: rgba(57, 61, 82, 0);
    left: 0;
    padding: 10px 65px;
    border-top: 2px solid rgba(57, 61, 82, 0);
    border-bottom: 2px solid rgba(57, 61, 82, 0);
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Gudea', sans-serif;
    box-shadow: none;
    color: #61BFFF !important;
}
.login-pwd, .login-yan{
    position: relative;
}
/*
.login-pwd .icon{
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 8px;
    opacity: .5;
}*/
.login-btn{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.login-btn input{
    border-radius: 3px;
    background: transparent;
    border: 2px solid #4FA1D9;
    color: #4FA1D9;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;

    margin: auto;
    width: 80%;
    transition-property: background,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
.login-btn input:hover{
    color: white !important;
    background: #4FA1D9;
    cursor: pointer;
    -webkit-transition-property: background,color;
    transition-property: background,color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
